3'<%- include('../partials/header') %>

    <table>
        <thead>
            <tr>
                <th>Chore name</th>                                   
            </tr>
        </thead>
        <tbody>
            <% chores.forEach(function(chore) {%>
                <tr>
                                                          
                    <td><a href="/chores/<%= chore._id %>"><%= chore.name  %></a></td>
                    
                    <Td><form action="/chores/<%= chore._id %>?_method=DELETE"
                        class="delete-form" method="POST">
                        <button type="submit">X</button>
                </tr>
            <% }); %>
        </tbody>
    </table>

<%- include('../partials/footer') %>