<%- include('../partials/header') %>

<section id="show-page">
    <div>Chore: </div>
    <div><%= chore.name %></div>
    <div>Items used</div>
   
</section>

<table>
    <thead>
        <tr>
            <th>Item used</th>
            <th>Available</th>
            <th>Quantity</th>
            
        </tr>
    </thead>
    <tbody>
        <% itemsUsed.forEach(function(item) { %>
            <tr>
                <td><a href="/items/<%= item._id %>/edit %>"><%= item.name %></a></td>                
                <td><%= item.available ? 'Available' : 'Unavailable' %></td>
                <td><%= item.quantity %></td>                
            </tr>
        <% }); %>
    </tbody>
</table>
            
  




<section>
    <form id="add-item-to-chore" action="/chores/<%= chore._id %>/items" method="POST">
        <select name="itemId">
            <% items.forEach(function(item){ %>
                <option value="<%= item._id %>"> <%= item.name %> </option>
            <% }); %>
        </select>
        <button>Add to chore</button>
    </form>
</section>



<%- include('../partials/footer') %>