<%- include('../partials/header') %>
    <h2><a href="items/list">Make shopping list</a></h2>
    <table>
        <thead>
            <tr>
                <th>Item name</th>
                <th>Available?</th>
                <th>Quantity</th>
                <th>Add to chore</th>
            </tr>
        </thead>
        <tbody>
            <% items.forEach(function(item) {%>
                <tr>
                    <td><a href="/items/<%= item._id %>"><%= item.name  %></a></td>
                    <td><%= item.available ? 'Yes' : 'No'  %></td>
                    <td><%= item.quantity %></td>
                    <td><form id="add-chore-to-item" action="/items/<%= item._id %>/chores" method="POST">                        
                    
                    <select name="choreId" >
                        <% const choreIds = item.chore.map(c=>c._id) %>
                        <% chores.forEach(function(chore){ %>
                            <% if (!choreIds.includes(chore._id)) { %>
                            <option value="<%= chore._id %>"><%= chore.name %></option>
                            <% } %>
                            <% }); %>
                        </select>
                        <button>Add to item</button>
                    </form></td>                 
                    
                    <Td><form action="/items/<%= item._id %>?_method=DELETE"
                        class="delete-form" method="POST">
                        <button type="submit">X</button>
                </tr>
            <% }); %>
        </tbody>
    </table>

<%- include('../partials/footer') %>