<%- include('../partials/header') %>

<section id="show-page">
    <div>Item name:</div>
    <div><%= item.name %></div>
    <div>Item available?</div>
    <div> <%= item.available ? 'Available' : 'Unavailable' %></div>    
    <div> Quantity </div>
    <div> <%= item.quantity %></div>
    
    
    <!-- <div> <%= item.choreRelated %></div> -->
    <!-- <div> <%= item.chores %></div> -->
    
    <div>Used in:</div>
    <ul>
        <% item.chore.forEach(function(chore) { %>
            <li><%= chore.name %></li>
            <% }) %>
        </ul>
</section>
        
<section>
    <form id="add-chore-to-chore" action="/items/<%= item._id %>/chores" method="POST">
        <select name="choreId" >
            <% chore.forEach(function(chore){ %>
                <option value="<%= chore._id %>"><%= chore.name %></option>
            <% }); %>
        </select>
        <button>Add to item</button>
    </form>

</section>


<%- include('../partials/footer') %>